@media all and (max-width: 600px){
    div{
        width:auto;
        height:auto;
        margin-left:auto;
        margin-right: auto;
        
    }
}
@media all and (max-width: 600px){
    .card{
        width:auto;
        height:auto;
        margin-left:auto;
        margin-right: auto;
        
    }
}
container{
    margin-left:710px;
}
.informacion h5{
    text-align: center;
    color:white;
}

.card-body{
    text-align:center;
    color:white;
}
.card img{
    border-radius:40px;
    width:110px;
    margin-left:60px; 
}
.card-body{
   background-color:#18293A;
    
}

.card{
    background-color:white;
}

.uno{
    
    background-color:white;
   
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size:19px;
}
.salir{
   font-size:25px;
   color: rgba(255,255,255,.5);
  float:right;
   padding-right:10px;
    padding-left:10px;
}
.salir:hover{
    color:white;
}

h2{
    color:#18293A;
    margin-top:10px;
    text-align:center;
}
.boton input{
    background-color:#18293A;
    border-color:#18293A;
    border-radius:30px;
    height:40px;
    color:white;
    float:right;
}
.boton input:hover{
    background-color:white;
    border-color:#18293A;
    border-radius:30px;
    height:40px;
    color:#18293A;
    float:right;
}
