
 

.uno{
    background-color:#1a2537 ;
    color:white;
    margin-top:-164px;
    height:75px;
   
}

.form-container{
    margin-top:10px;
     border-radius:30px;
    padding: 30px;
    height:auto;
   
     
 }

form{
     padding:20px;
    color:white;
    background-color:red;
    background-color:#1a2537;
}
form .errores{
    text-align:center;
    padding:20px;
    color:white;
    background-color:red;
    background-color:#F50E3B;
    text-decoration:#1a2537;
   box-shadow: inset 0 0 1em gold;
}

.form-group {
    color:white;
    
}


 .body{
    background-color: orange;
 }

.reg a {
    margin-top: 190px;
    background-color: orangered;
    color: white;
    width:1300px;
    border-radius: 30px;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 19px;
}
.salir{
   font-size:25px;
   color: rgba(255,255,255,.5);
  float:right;
   padding-right:10px;
    padding-left:10px;
}
.salir:hover{
    color:white;
}
.btn-primary {
    color:white;
    background-color:#18293A;
    border-color:white;
    font-size:20px;
}
.btn-primary:hover {
    color:#18293A;
    background-color:white;
    border-color:#18293A;
    font-size:20px;
}