
 

.uno{
    background-color:#1a2537 ;
    color:white;
    margin-top:-164px;
    height:75px;
   
}

.form-container{
    margin-top:10px;
     border-radius:20px;
    padding: 30px;
    height:auto;
   
     
 }

form{
     padding:20px;
    color:white;
    background-color:red;
    background-color:#1a2537;
}
form .errores{
    text-align:center;
    padding:20px;
    color:white;
    background-color:red;
    background-color:#F50E3B;
    text-decoration:#1a2537;
   box-shadow: inset 0 0 1em gold;
}



 .body{
    background-color: orange;
    height:1600px;
 }

.reg a {
    margin-top: 190px;
    background-color: orangered;
    color: white;
    width:1300px;
    border-radius: 30px;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 19px;
}
.salir{
   font-size:25px;
   color: rgba(255,255,255,.5);
  float:right;
   padding-right:10px;
    padding-left:10px;
}
.salir:hover{
    color:white;
}
.btn-primary {
    color:white;
    background-color:#EA9A05; 
    border-color:#EA9A05; 
    font-size:20px;
    width:60%;
    margin-left:20%;
    margin-right:15%;
    border-radius:15px;
}
.btn-primary:hover {
   color:#EA9A05; 
    background-color:white;
   font-size:20px;
    border-radius:15px;
    border-color:white;
}

.input-label{
    text-align:center;
    width:60%;
    background-color:#EA9A05;
    color:white;
    padding:25px;
    border-radius:15px;
    margin-left:20%;
    margin-right:15%;
}
.input-label:hover{
     text-align:center;
    width:60%;
    background-color:white;
    color:#EA9A05; 
    padding:25px;
    border-radius:15px;
    margin-left:20%;
    margin-right:15%;
}
.form-div{
   margin-top:10px;
}
#foto{
    display:none;
}

label{
  color:#EA9A05;  
}