

/*Para todos*/
body{
    font-family:'Raleway',sans-serif;
    font-size: 15px;
    font-weight:400;
    color:black;
    height:auto;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size:19px;
}
.salir{
    font-size:25px;
    color: rgba(255,255,255,.5);
    float:right;
    padding-right:10px;
    padding-left:10px;
}
.salir:hover{
    color:white;
}
/* ------------------------------------*/



.card-header{
    width: auto;
    text-align:center;
    color:black;
    font-size:25px;
    text-decoration: none;
    background-color:#2851A3;
}

.lider{
    color:black;
    font-size:15px;
    text-decoration: none;
    text-align:center;
    font-family:'Raleway',sans-serif;
}


.card-title{
    color:black;
}

.card-title{
    color:black;
    font-family:'Raleway',sans-serif;


}
.card{
    box-shadow:5px 5px 10px #9e9e9e;
    margin:auto;
    width:390px;
    height:380px;
    border:1px solid #2851A3;

}
.card span{
    font-family:'Raleway',sans-serif; 
    font-size:15px;
}


.card-body {
    color:black;
    font-family:'Raleway',sans-serif;  
    font-size:15px;

}
/* Botones para Proyectos*/
.vermas a {
    margin-left:28%;
    margin-right:20%;
    padding:5px;
    background-color:#2851A3;
    color:white;
    width:120px;
    text-align:center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;

}
.vermas a:hover{
    margin-left:28%;
    margin-right:20%;
    padding:5px;
    background-color:white;
    color:#2851A3;
    width:120px;
    text-align:center;
    /*    -webkit-appearance: button;
        -moz-appearance: button;*/
    appearance: button;
    text-decoration: none;
    border:2px solid #2851A3;
}
.vermas button {
    margin-left:28%;
    margin-right:20%;
    padding:5px;
    background-color:#2851A3;
    color:white;
    width:120px;
    text-align:center;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;

}
.vermas button:hover{
    margin-left:28%;
    margin-right:20%;
    padding:5px;
    background-color:white;
    color:#2851A3;
    width:120px;
    text-align:center;
    /*    -webkit-appearance: button;
        -moz-appearance: button;*/
    appearance: button;
    text-decoration: none;
    border:2px solid #2851A3;
}
/* css para titulos con linea */
.section-title-wr.style-2.base {
    border-color: #2851A3;
}
.section-title-wr.style-2 {
    margin-bottom: 12px;
    border-bottom: 2px solid #2851A3;
}
.section-title-wr.base, .section-title-wr.dark, .section-title-wr.light, .section-title-wr.base-alt {
    background: transparent;
}
.section-title-wr {
    /*    display: table;*/
    width: 60%;
    margin-bottom: 15px;
}
.base {
    background:#2851A3;
    color: #fff !important;
}
.section-title-wr.style-2.base .section-title.left span {
    background: #2851A3;
    color: #fff;
}
.section-title-wr.style-2 .section-title.left span {
    display: inline-block;
    margin-bottom: 2px;
    padding: 10px 15px;
}

/*-------------personal-------------------------------------- */
.btn-primary {
    box-shadow:5px 5px 10px #9e9e9e;
    color:white;
    background-color:#2851A3;
    border-color:#2851A3;
    margin:3px 3px 3px 3px;
}
.btn-primary:hover {
    color:#2851A3;
    background-color:white;
    border-color:#2851A3;
    margin:3px 3px 3px 3px;
}
.btn-primaryv {
  color:#2851A3;
    background-color:white;
    border-color:#2851A3;
    margin:3px 3px 3px 3px;
}
.btn-primaryv:hover {
    color:#2851A3;
    background-color:white;
    border-color:#2851A3;
    margin:3px 3px 3px 3px;
}
 .fa{
    font-weight: 900;
    color:red;
}
.btn-secondary {
    box-shadow:5px 5px 10px #9e9e9e;
    color:white;
    background-color:red;
    border-color:red;
    margin:3px 3px 3px 3px;
}
.btn-secondary:hover {
    color:#2851A3;
    background-color:white;
    border-color:red;
    margin:3px 3px 3px 3px;
}
.card-bodie {

    box-shadow:5px 5px 10px #9e9e9e;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: #2851A3;
    width: auto;
    height: 320px;
    display: block;
    font-size: 10px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
}
span{
    font-family: 'Raleway',sans-serif;
    font-size:18px;
    color:black;
}
.cardp{
    height:320px;
    margin:auto;
}

.card-titulo{
    color:white;
    font-family: 'Raleway',sans-serif;
    font-size:18px;
}
@media all and (max-width: 600px){
    div{
        margin:auto;
        display:block;
        width:auto;


    }
}

/*  -----botonesPersonal   */
.btn-primaryp{
    width:250px;
    box-shadow:5px 5px 10px #9e9e9e;
    color:white;
    background-color:#2851A3;
    border-color:#2851A3;
    margin:3px 3px 3px 3px;
}
.btn-primaryp:hover {
    width:250px;
    color:#2851A3;
    background-color:white;
    border-color:#2851A3;
    margin:3px 3px 3px 3px;
}

.cardv{
    margin:auto;
    width:300px;
    border:1px solid #2851A3;
    height:200px;

}

.card-headerver{
    text-align:center;
    margin:auto;
    background-color:#2851A3;
    height:28px;
}
.card-headerver span{
    margin:auto;
}

@media all and (max-width:800px){
    .cardver{
        box-shadow:5px 5px 10px #9e9e9e;
        margin:auto;
        width:350px;
        height:auto;
        display:block;
    }   
}

@media all and (min-width:800px){
    .cardver{
        box-shadow:5px 5px 10px #9e9e9e;
        margin:auto;
        width:600px;
        height:auto;
        display:block;
    }   
}
.card-bodyver{
    border:3px solid #2851A3;
}
.table{
    width:240px;
}

h2{
    color:white;
}

th{
    text-align:center;
    color:white;
    font-family: 'Raleway',sans-serif;
}

tr{
    margin:auto;
    color:red;
}

span{
    color:white;
}

.cardverd{
    box-shadow:5px 5px 10px #9e9e9e;
    margin:auto;
    width:320px;
    background-color:#2851A3;
    color:white;
    border:3px solid #2851A3;
}

.comentarios img{
   width:160px; 
   border-radius:10px;
}

/* css para comentarios*/
* {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 a {
 	color: #03658c;
 	text-decoration: none;
 }
 a:hover{
 	color:black;
 	text-decoration: none;
 }

ul {
	list-style-type: none;
}

body {
	font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
	background: #dee1e3;
}

/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width:766px) {
	.comments-container {
		width:auto;
	}

	.comments-list .comment-box {
		width:auto;
	}

	.reply-list .comment-box {
		width:auto;
	}
}

.comment-avatar img{
    width:90px;
}

.secund th{
    color:#2851A3;
}

.table{
    width:90%;
    margin:auto;
}

.imgp img{
    height:120px;
}