
 @media all and (max-width: 300px){
    div{
        width:auto;
        height:auto;
        margin-left:auto;
        margin-right: auto;
        
    }
}
.form-container{
    margin-top:10px;
     border-radius:20px;
    padding: 30px;
    height:auto;
   
     
 }
 form{
     padding:20px;
    color:white;
    background-color:red;
    background-color:#1a2537;
}
a {
    
    text-align:center;
    color:white;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color:white;
    text-decoration: none;
    background-color: transparent;
}
.btn-primary {
    color:white;
    background-color:#18293A;
    border-color:white;
   
}
.btn-primary:hover{
    color:#18293A;
    background-color:white;
      border-color:white;
}


.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size:19px;
}
.salir{
   font-size:25px;
   color: rgba(255,255,255,.5);
  float:right;
   padding-right:10px;
    padding-left:10px;
}
.salir:hover{
    color:white;
}

.modal-header h2{
    text-align:center;
}
#lider:pointer{
    background-color: red;
   color:red;
}