.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px solid #18293A;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


@media all and (min-width: 500px){
    .form-container{
        display:block;
        background-color:white;
        width:500px;
        margin-top:10px;
        border-radius:20px;
        padding: 30px;
        height:auto;

    }
}
@media all and (max-width: 500px){
    .form-container{
        display:block;
        background-color:white;
        width:auto;
        margin-top:10px;
        border-radius:20px;
        padding: 30px;
        height:auto;

    }
}
@media all and (min-width: 500px){
    p{
        margin:auto;
        font-family:'Raleway',sans-serif;
        font-size:16px;

    }
}
@media all and (max-width: 500px){
    p{
        margin:auto;
        font-family:'Raleway',sans-serif;
        font-size:15px;

    }
}



@media all and (min-width: 500px){
    .btn-primary{
        color:white;
        background-color:#18293A;
        border-color:white;
        font-family:'Raleway',sans-serif;
        font-size:16px; 
    }
}
@media all and (max-width:500px){
    .btn-primary{
        color:white;
        width:auto;;
        margin:auto;
        background-color:#18293A;
        border-color:white;

    }
}

.form-control{
    font-family:'Raleway',sans-serif;

}

form{
    font-family:'Raleway',sans-serif;
    width:300px;
    padding:20px;
    color:#1a2537;
    text-align:center;

}
a {

    color:white;
    text-decoration: none;
    background-color: transparent;
}
a:hover{
    color:white;
    text-decoration: none;
    background-color: transparent;
}

.btn-primary:hover{
    color:#18293A;
    background-color:white;
    border: 3px solid #1a2537;
    font-family:'Raleway',sans-serif;
    font-size:16px; 
}


.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size:19px;
}
.salir{
    font-size:25px;
    color: rgba(255,255,255,.5);
    float:right;
    padding-right:10px;
    padding-left:10px;
}
.salir:hover{
    color:white;
}

.modal-header h2{
    text-align:center;
}
#lider:pointer{
    background-color: red;
    color:red;
}
.error {
 -webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.3);
    -o-box-shadow:0 0 10px rgba(0,0,0,0.3);
    box-shadow:0 0 10px rgba(0,0,0,.3);
    position:absolute;
    text-align: center;
    padding: 10px;
    color:#fff;
  background-color: red;

}