@media all and (max-width: 600px){
    div{
        width:auto;
        height:auto;
        margin-left:auto;
        margin-right: auto;
        
    }
}



body{
    font-family:'Raleway',sans-serif;
    font-size: 15px;
    font-weight:400;
    color:black;
}

h1{
     font-family:'Raleway',sans-serif;
    margin-top:20px;
    text-align: center;
    color:#1a2537;
}
 
h3{
    color:black;
margin-left:50px;
}

.proyecto {
    text-align:center;
    color:black;
    font-size:15px;
}
.proyecto:hover {
    color:orangered;
    text-decoration: none;
}
.card-header{
    text-align:center;
    color:black;
    font-size:25px;
    text-decoration: none;
    background-color:orangered;
}
.card-header:hover{
   color:black;
    text-decoration: none;
}
.lider{
    color:black;
    font-size:15px;
    text-decoration: none;
    text-align:center;
}
.lider:hover{
    color:orangered;
    font-size:15px;
    text-decoration: none;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size:19px;
}
.salir{
   font-size:25px;
   color: rgba(255,255,255,.5);
  float:right;
   padding-right:10px;
    padding-left:10px;
}
.salir:hover{
    color:white;
}
.card-title{
    color:black;
}

p{
    color:black;
}


