@media all and (max-width: 300px){
    div{
        width:auto;
        height:auto;
        margin-left:auto;
        margin-right: auto;
        
    }
}
body{
    background:white;
  height:400px;
    
}
 
 form{
    background:#1a2537;
    color:white;
     margin-top:10px;
    border-color:red;
    
 }
 h3{
    margin-top:10px;
    text-align:center;
    padding:5px;
    font-size:20px;
    color:#1a2537;
    background-color:#FF7C1C;
      margin-left: 170px;
   display:inline-block;
   margin-left:auto;
   margin-right:auto;
   letter-spacing:1px;
   border-radius:10px;
}

.uno{
    background-color:#1a2537 ;
    color:white;
    margin-top:-215px;
    height:65px;
   
}
.uno h1{
    margin-top:50px;
}

.img-responsive{
    margin-top:40px;
    width:280px;
    height:280px;
    
    
}

 

 .form-container{
     border-radius:10px;
    padding: 30px;
   border-color:#1a2537;
     color:white;
     font-size:20px;
     
 }


 .body{
    background-color: orange;
 }
.btn-primary{
    color:white;
    background-color:#1a2537;
   margin-left:170px;
    margin-top:15px;
    width:120px;
    border-color:white;
}
.btn-primary:hover{
    color:#1a2537;
    background-color:white;
   margin-left:170px;
    margin-top:15px;
    width:120px;
    border-color:#1a2537;
}
label {
   display:inline-flex;
    margin-bottom: .5rem;
    margin-top:8px;
}
.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 35px;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 19px;
}


